<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jiangtao.freedomblog">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_SMS"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <!-- 外置存储存取权限 -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- 多媒体相关 -->
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
  <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
  <permission
      android:name="com.netease.nim.demo.permission.RECEIVE_MSG"
      android:protectionLevel="signature"/>
  <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
  <uses-permission android:name="com.netease.nim.demo.permission.RECEIVE_MSG"/>

  <application
      android:name="org.jiangtao.application.BlogApplication"
      android:allowBackup="true"
      android:hardwareAccelerated="true"
      android:icon="@mipmap/ic_launcher"
      android:largeHeap="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".ActivityWelcome"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".ActivityIndex"
        android:label="@string/index_actionbar"
        android:launchMode="singleInstance"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".ActivityGuide"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".ActivityLogin"
        android:label="@string/button_login"/>
    <activity
        android:name=".ActivityRegister"
        android:label="@string/register_blog">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ActivityLogin"/>
    </activity>
    <activity
        android:name=".ActivityRetrieve"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".SettingsActivity"
        android:label="@string/title_activity_settings">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ActivityIndex"/>
    </activity>
    <activity
        android:name=".UserSettingsActivity"
        android:label="@string/title_activity_user_settings">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ActivityIndex"/>
    </activity>
    <activity
        android:name=".UserDetailActivity"
        android:label="@string/label_user_detail"/>
    <activity
        android:name=".Sortctivity"
        android:label="@string/title_activity_sortctivity"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".AboutActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/title_activity_about"
        android:theme="@style/FullscreenTheme"/>
    <activity
        android:name=".PersonAttentionActivity"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".DetailActivity"
        android:label="@string/label_detail">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ActivityIndex"/>
    </activity>
    <activity
        android:name="vn.tungdx.mediapicker.activities.MediaPickerActivity"
        android:screenOrientation="portrait"
        android:theme="@style/MediaPickerTheme"/>

    <!-- 有关第三方 -->
    <activity
        android:name="com.mob.tools.MobUIShell"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:windowSoftInputMode="stateHidden|adjustResize"/>
    <!-- 云信 -->
    <!--
         APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
            如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
    <meta-data
        android:name="com.netease.nim.appKey"
        android:value="06f26d8564f66c2227fde5119444d71e"/>

    <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
    <service
        android:name="com.netease.nimlib.service.NimService"
        android:process=":core"/>
    <service
        android:name="com.netease.nimlib.service.NimService$Aux"
        android:process=":core"/>

    <!--
         云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
        保持和 NimService 同一进程
        -->
    <receiver
        android:name="com.netease.nimlib.service.NimReceiver"
        android:exported="false"
        android:process=":core">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>

    <!-- 云信进程间通信 Receiver -->
    <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

    <!-- 安卓保活配置 -->
    <service
        android:name="com.netease.cosine.core.CosineService"
        android:process=":cosine">
    </service>

    <receiver
        android:name="com.netease.cosine.target.CosineReceiver"
        android:exported="true"
        android:process=":cosine">
    </receiver>

    <meta-data
        android:name="com.netease.cosine.target"
        android:value=""/>
    <meta-data
        android:name="com.netease.cosine.target.receiver"
        android:value="com.netease.nimlib.service.NimReceiver"/>

    <activity
        android:name=".PublishActivity"
        android:label="@string/label_publish">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ActivityIndex"/>
    </activity>
    <activity android:name=".ChatActivity">
    </activity>
  </application>

</manifest>